@font-face {
   font-family: "PTSans";
   src: url("../fonts/PTSans.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "MyriadPro";
   src: url("../fonts/MyriadPro.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "PT Sans";
   src: url("../fonts/PTSans-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}
