$default-font: Arial, sans-serif;
$accent: #ff1820;
$text: #333;
$text-title: #7a7a7a;

// Customization Bootstrap vars from "app/node_modules/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
);
$container-max-widths: (
   sm: 540px,
   md: 720px,
   lg: 960px,
   xl: 1170px,
);

$gutter: $grid-gutter-width;

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   img {
      display: none;
   }
}

.container {
   margin: 0px auto;
}

.accent-btn {
   text-align: center;
   padding: 3px 10px;
   border: 2px solid $accent;
   border-radius: 20px;
   margin-bottom: 17px;
   max-width:  160px;
   a {
      color: $accent;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -1px;
   }
   &:hover {
      background: $accent;
      a {
         color: #ffffff;
      }
   }
}
.social {
   display: flex;
   img {
      margin: 0px 5px;
      &:hover {
         transform: scale(1.1);
      }
   }
}
